WcfFacturacionClienteWindows/WcfFacturacionClienteWindows/Service References/WcfFacturacion/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfFacturacion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfFacturacion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
</xs:schema>